@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form 
          asp-controller="Home" 
          asp-action="UploadFile" 
          method="post"
          enctype="multipart/form-data"
    >

        <input type="file" name="file" />
        <button type="submit">upload file</button>

        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success mt-3 mx-auto" id="successMessage">@TempData["Success"]</p>
        }

        @if (TempData["Error"] != null)
        {
            <p class="alert alert-danger mt-3 mx-auto" id="successMessage">@TempData["Error"]</p>
        }

    </form>
</div>
